@import url('https://rsms.me/inter/inter.css');

.page {
  background-color: #2A2C2F;
}
.main {
  max-width: 1280px;
  min-width: 320px;
  padding-top: 28px;
  padding-bottom: 24px;
  font-family: "Inter", Arial, sans-serif;
  margin: 0 auto;
  border: 1px solid red;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 48px;
}
.header__logo {
  width: 176px;
  height: 52px;
}
.header__links {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
}
.header__lang-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: white;
  margin-left: 18px;
  text-decoration-line: none;
}
.header__lang-link-used {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: white;
}
.lead {
  display: flex;
  flex-direction: column;
  margin: 56px 148px 92px;
}
@media (max-width: 1024px) {
  .lead {
    margin: 48px 48px;
  }
}
@media (max-width: 768px) {
  .lead {
    margin: 48px auto 88px;
  }
}
@media (max-width: 320px) {
  .lead {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 64px;
  }
}
.lead__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  color: white;
  max-width: 720px;
  margin: 0 auto 0;
}
@media (max-width: 1024px) {
  .lead__title {
    margin: 0 auto 0;
  }
}

@media (max-width: 768px) {
  .lead__title {
    margin: 0 auto 0;
  }
}

@media (max-width: 700px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    margin: 0 24px 0;
  }
}
.lead__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: white;
  max-width: 640px;
  margin: 32px auto 64px;
}
@media (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 700px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
.lead__image {
  width: 100%;
}
.lead__caption {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 8px 0 0;
}
.intro {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  margin: 0 148px 92px;
}
@media (max-width: 1024px) {
  .intro {
    margin: 0 48px 92px;
  }
}
@media (max-width: 768px) {
  .intro {
    margin: 0 24px 92px;
  }
}
@media (max-width: 320px) {
  .intro {
    margin: 0 16px 92px;
  }
}
.intro__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
.intro__text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 32px;
}
.intro__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.intro__list-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
}
.photo-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  list-style-type: none;
  margin-left: 48px;
  margin-right: 48px;
}
@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-gap: 12px;
    margin-left: 16px;
    margin-right: 16px;
    grid-template-columns: repeat(1, 1fr);
  }
}
.photo-grid__item {
  max-width: 100%;
  object-fit: cover;
}
.place {
  display: grid;
  grid-gap: 48px 40px;
  grid-template-columns: minmax(100px,460px) minmax(100px, 484px);
  justify-content: start;
  margin: 92px 148px 92px;
  border: 1px solid red;
}
@media (max-width: 1024px) {
  .place {
    margin-left: 48px;
    margin-right: 48px;
    grid-gap: 48px 32px;
  }
}
.place__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  color: #ffffff;
  border: 1px solid red;
}
@media (max-width: 1024px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
.place__website {
  border: 1px solid red;
  align-self: end;
  
}
.place__website-url-heading {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #aaaaaa;
  margin-top: 0;
  
}
.place__website-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
}
.place__text {
  border: 1px solid red;
}
.place__paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  margin-top: 0;
}
.place__image {
  width: 100%;
  object-fit: cover;
  border: 1px solid red;
}
@media (max-width: 1024px) {
  .place__image {
    font-size: 42px;
    line-height: 46px;
  }
}
.footer__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 700px) {
  .footer__links {
    flex-direction: column;
    align-items: flex-start;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  margin: 92px 48px 0;
  border: 1px solid red;
}
@media (max-width: 700px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 320px) {
  .footer {
    margin-left: 16px;
  }
}
.footer__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  margin-right: 18px;
  text-decoration: none;
  border: 1px solid red;
}
@media (max-width: 700px) {
  .footer__link {
    margin-top: 32px;
    border: 1px solid red;
  }
}
.footer_copyright {
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  border: 1px solid red;
}
@media (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
  }
}